{% extends "base.html" %}

{% block content %}

<h1>Hey {{current_user.name}}, lets play a game!</h1>
<h2>Your word is: {{selected_word}}</h2>
<h2>Guess a letter: </h2>

<form role="form" action="" method="POST">
    <div class="form-group">
        {% if not not_used_letters%}
        {% for letter in not_used_letters_two%}
        <input type="submit" name="letter" value={{letter}}>
        {% endfor %}
        {%else%}
        {% for letter in not_used_letters%}
        <input type="submit" name="letter" value={{letter}}>
        {% endfor %}
        {%endif%}
    </div>

</form>
<h2>Letters you have used: {{guessed_letters}}</h2>
<img src={{game_picture}}>
{% if game_status %}
<h1>{{game_status}}</h1>
{% endif%}
<form role="form" action="/game" method="POST">
    <div class="form-group">
        <input type="submit" name="start game" value="Start a new game">
    </div>



    {% endblock %}