{% extends "base.html" %}



{% block content %}


<h2>The hangman game</h2>
<h2>Your word is: {{selected_word}}</h2>


<form role="form" action="" method="POST">
    <div class="form-group">
        {% if not_used_letters%}
        <h2>Guess a letter: </h2>
        {% for letter in not_used_letters%}
        <input type="submit" name="letter" value={{letter}}>
        {% endfor %}
        {%else%}
        <br /><br />
        {%endif%}
    </div>

</form>
<br />

<h2>Letters you have used: {% for letter in guessed_letters %}{{letter}}&nbsp{% endfor %}</h2>
<br />
<img src={{game_picture}}>
<br />

<div class="typewriter">
    {% if game_status %}

    <h5>{{game_status}}</h5>
</div>
<br />



<form role="form" action="game" method="GET">
    <div class="form-group">
        <input type="submit" value="Play again">
    </div>
</form>
{% endif%}
<br />
<form role="form" action="/profile/{{current_user.name}}" method="GET">
    <div>
        <input type="submit" value="User's statistics">
    </div>
</form>




{% endblock %}