{% extends "base.html" %}

{% block content %}

<h1>The hangman!</h1>
<h2>Your word is {{selected_word}}</h2>
<h2>Guess your letter: </h2>

<form role="form" action="" method="POST">
    <div class="form-group">

        {% for letter in not_used_letters%}
        <input type="submit" name="letter" value={{letter}}>
        {% endfor %}
    </div>

</form>
<h2>Letters you have used: {{guessed_letters}}</h2>
<img src={{game_picture}}>
{% if game_status %}
<h1>{{game_status}}</h1>
{% endif%}
<form role="form" action="" method="POST">
    <div class="form-group">
        <input type="submit" name="new game" value="new game">
    </div>



    {% endblock %}