{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-6">
            {% if user_from_db%}
            <h4>Username: <b>{{ user_from_db.name }}</b></h4>
            <h4>User's e-mail: <b>{{ user_from_db.email }}</b></h4>


            <br /><br />

            <table>
                <tr>
                    <th>Games today</th>
                    <th>Games won</th>
                    <th>Games lost</th>
                    <th>Guesses made</th>
                </tr>
                <tr>
                    <td>{{game_stats[user_from_db.name]}}</td>
                    <td>6/3</td>
                    <td>7</td>
                    <td>45</td>
                </tr>

            </table>
        </div>
        {%else%}
        <p>User with username '{{not_existing_user}}' doesn't exist!</p>
        {%endif%}

        <div class="col-lg-6">
            {% if games_data%}
            <h4>All played games:</h4>
            {% for game in games_data%}
            <p>On {{game["date"].date()}} {{game["time"]}} the word was
                '{{game["game word"]}}' and player {{game["game result"]}} the game wit {{game["guesses made"]}} bad
                guesses.
            </p>

            {% endfor %}
            {%elif user_from_db%}
            <p> No games were played by the user.</p>
            {%endif%}
        </div>

    </div>
</div>
{% endblock %}